body{
    background: #a9aaaa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dae5f0, #fcfdfd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ddecfb, #f3f4f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.margin-top{
    margin-top: 3%;
}

.margin-left{
    margin-left: 13%;
}

.margin-right{
    margin-right: 13%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.selected-country {
    size:large;
    font-weight: bold;
}

.orange {
    background: #f6ad04;  /* fallback for old browsers */
}