{% extends "layouts/layout.html" %}
{% block content%}
<div class="btn-group float-end margin-top margin-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Paises
    </button>
    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
        {% for row in countries %}
            <li><a class="dropdown-item country-item">{{ row[0] }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="margin-left margin-right margin-top">
<div id="selected-country" class="selected-country"></div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Forma</th>
        <th scope="col">DMI</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider" id="table-body">
    </tbody>
</table>
</div>
<script>
  // Get the elements
  var countryItems = document.querySelectorAll(".country-item");
  var tableBody = document.getElementById("table-body");
  var selectedCountryDiv = document.getElementById("selected-country"); // Elemento para mostrar el país seleccionado

  // Add click event listeners to each country item in the dropdown
  countryItems.forEach(function (countryItem) {
      countryItem.addEventListener("click", function () {
          var selectedCountry = countryItem.textContent;
          selectedCountryDiv.textContent = `${selectedCountry}`; // Actualizar el contenido con el país seleccionado

          fetch('/get_players/' + selectedCountry)
              .then(function (response) {
                  return response.json();
              })
              .then(function (data) {
                  // Update the table with the received data
                  updateTable(data);
              })
              .catch(function (error) {
                  console.error('Error:', error);
              });
      });
  });

  // Function to update the table with new data
  function updateTable(data) {
      // Clear the existing table rows
      tableBody.innerHTML = '';

    // Loop through the data and create new table rows
    data.forEach(function (row) {
      var newRow = document.createElement("tr");
      newRow.innerHTML = `
        <th scope="row"><a href="https://buzzerbeater.com/player/${row[0]}/overview.aspx">${row[0]}</a></th> <!-- row[1] is the player ID, se podria poner que al clickar lleve a BB -->
        <td>${row[1]}</td> <!-- row[1] is the player name -->
        <td>${row[3]}</td> <!-- row[3] is the player's shape -->
        <td>${row[2]}</td> <!-- row[2] is the player's "DMI" -->
        <td>${row[4] !== null ? 'Habilidades disponibles' : ''}</td> <!-- if there is data in row 4, means we have his skills, lo indicaremos con un + o un -, si se clicka mostrar -->
      `;
      tableBody.appendChild(newRow);

      var rowDetail = document.createElement("tr");
      rowDetail.innerHTML = `
        <th scope="row">
          <div>
            aqui va el div de tableau con el grafico de dmi y forma por semana, al lado skills si hay
          </div>
        </th>
      `;
      tableBody.appendChild(rowDetail);
    });
  }
</script>
{% endblock %}
